/*-------idea_inner_FAQ css------*/


/*-------idea_inner_FAQ css for pc style------*/

.idea_inner_cont.faq_page {
    max-width: 100%;
    margin: 167px 0 0;
}

.idea_inner_cont.faq_page .cont_left {
    height: 599px;
    background: url('../images/banner_imng_f.jpg') no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.idea_inner_cont.faq_page .cont_right {
    margin-top: 47px;
    padding-right: 0;
}

.idea_inner_cont.faq_page .cont_right .cont_title {
    font-size: 50px;
    position: absolute;
    top: 0;
}

.idea_inner_cont.faq_page .cont_right .panel-group {
    width: 100%;
    height: 370px;
    margin-top: 90px;
    margin-left: 15px;
    overflow-y: auto;
}

.idea_inner_cont.faq_page .cont_right .panel-group .panel {
    box-shadow: none;
    background: transparent;
    border-top: 1px solid #e2e2e2;
}

.idea_inner_cont.faq_page .cont_right .panel-group .panel:first-child {
    border: none;
}

.idea_inner_cont.faq_page .cont_right .panel-group .panel h4 {
    padding: 5px 0 0;
    position: relative;
    width: 655px;
}

.idea_inner_cont.faq_page .cont_right .panel-group .panel a:focus,
a:hover {
    color: transparent;
}

.idea_inner_cont.faq_page .cont_right .panel-group .panel a p:nth-child(1) {
    width: 30px;
    font-family: 'Bliss2';
    font-style: normal;
    font-size: 22px;
    color: #838383;
    float: left;
}

.idea_inner_cont.faq_page .cont_right .panel-group .panel a p:nth-child(2) {
    width: 605px;
    font-family: 'Calibri';
    font-size: 18px;
    font-weight: bold;
    color: #838383;
    line-height: 26px;
    margin-left: 40px;
}

.idea_inner_cont.faq_page .cont_right .panel-group .panel a .arrow_icon {
    width: 20px;
    height: 25px;
    background: url('../images/arrows_blue_down.png') no-repeat 0 10px;
    display: inline-block;
    float: right;
    top: 0;
    right: 0;
    position: absolute;
}

.idea_inner_cont.faq_page .cont_right .panel-group .panel a p.active .arrow_icon {
    background: url('../images/arrows_blue_up.png') no-repeat 0 10px;
}

.idea_inner_cont.faq_page .cont_right .panel-group .panel .panel-heading {
    margin-bottom: 10px;
}

.idea_inner_cont.faq_page .cont_right .panel-group .panel-collapse {
    width: 635px;
    height: auto !important;
    font-size: 16px;
    padding: 0 0 12px 45px;
}

.idea_inner_cont.faq_page .cont_right .panel-group .panel-collapse .panel-body {
    border: none;
}

.cont_right .scroll {
    margin-top: 50px;
    text-align: center;
    color: #838383;
    cursor: pointer;
}

@media screen and (min-width: 1300px) {
    .idea_inner_cont.faq_page .cont_left {
        height: 750px;
    }
    .idea_inner_cont.faq_page .cont_right .panel-group {
        height: auto;
        overflow: hidden;
    }
    .cont_right .scroll {
        display: none;
    }
}


/*-------idea_inner_FAQ css for mobile style------*/

@media screen and (min-width: 320px) and (max-width: 1130px) {
    .idea_inner_cont.faq_page {
        margin: 85px 0 0;
    }
    .idea_inner_cont.faq_page .cont_left {
        width: 100%;
        height: 150px;
        background: url('../images/mobile_idea_FAQ.png') no-repeat;
        background-size: 100%;
    }
    .idea_inner_cont.faq_page .cont_right {
        padding: 0 15px;
    }
    .idea_inner_cont.faq_page .cont_right .cont_title {
        margin-left: 15px;
    }
    .idea_inner_cont.faq_page .cont_right .panel-group {
        width: auto;
        height: auto;
        margin-left: 0;
        overflow: hidden;
    }
    .idea_inner_cont.faq_page .cont_right .panel-group .panel .panel-heading {
        padding: 10px 0 0;
    }
    .idea_inner_cont.faq_page .cont_right .panel-group .panel h4 {
        width: 100%;
    }
    .idea_inner_cont.faq_page .cont_right .panel-group .panel a p {
        width: 100%;
        line-height: 22px;
    }
    .idea_inner_cont.faq_page .cont_right .panel-group .panel a p:nth-child(2) {
        width: 228px;
        height: auto;
        font-size: 16px;
    }
    .idea_inner_cont.faq_page .cont_right .panel-group .panel a .arrow_icon {
        right: 0;
    }
    .idea_inner_cont.faq_page .cont_right .panel-group .panel-collapse {
        width: 100%;
        padding-left: 30px;
    }
}
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    /* 兼容iphone5 */
    .idea_inner_cont.faq_page .cont_right .panel-group .panel a p:nth-child(2){
        width: 232px;
    }
    .idea_inner_cont.faq_page .cont_right .panel-group .panel a p:nth-child(2){
        font-size: 16px;
    }
}
@media (device-height: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    /* 兼容iphone6 */
    .idea_inner_cont.faq_page .cont_right .panel-group .panel a p:nth-child(2){
        width: 275px;
    }
}
@media (device-height: 736px) and (-webkit-min-device-pixel-ratio: 2) {
    /* 兼容iphone6 Plus */
    .idea_inner_cont.faq_page .cont_right .panel-group .panel a p:nth-child(2){
        width: 320px;
    }
}
